<h1>Productos</h1>
<div>
    {{#each data}}
        <p>id: {{_id}}</p>
        <p>title: {{title}}</p>
        <p>description: {{description}}</p>
        <p>code: {{code}}</p>
        <p>price: {{price}}</p>
        <p>status: {{status}}</p>
        <p>stock: {{stock}}</p>
        <p>thumbnail: {{thumbnail}}</p>
        <h2>----------</h2>
    {{/each}}  
</div>